<script type="text/javascript" src="lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="lib/jquery-mousewheel/js/jquery.mousewheel.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/equipment_statistics.js"></script>

<script type="text/javascript" src="lib/amcharts3/amcharts/amcharts.js"></script>
<script type="text/javascript" src="lib/amcharts3/amcharts/plugins/export/libs/fabric.js/fabric.js"></script>
<script type="text/javascript" src="lib/amcharts3/amcharts/serial.js"></script>