// Colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorWhite-2: rgba(255, 255, 255, 0.2);
$colorWhite-3: rgba(255, 255, 255, 0.3);
$colorWhite-4: rgba(255, 255, 255, 0.4);
$colorWhite-5: rgba(255, 255, 255, 0.5);
$colorWhite-6: rgba(255, 255, 255, 0.6);
$colorWhite-7: rgba(255, 255, 255, 0.7);
$colorWhite-8: rgba(255, 255, 255, 0.8);

$color-link: #38b0f8;

$color-primary-dark: #99b199;
$color-primary: #68ad68;
$color-primary-light: #63db39;
$color-increase: #377eff;
$color-increase-dark: #3061a8;
$color-reduction-light: #c68b8b;
$color-reduction: #ff0000;
$color-reduction-dark: #bd0b0c;
$color-yellow: #f7cb00;

$color-tip: #445d72;
$color-Dark-moderate-cyan: #58b098;
$color-Very-soft-blue: #a3a0dc;

$colorYellow: #e6ab3c;
$colorYellow-light: #e2c081;
$colorYellow-dark: rgba(160, 131, 72, 0.7);

$bgMain: #0e1317;
$bgSection-content: #212428;
$bgSection-title: #2c2f32;
$bgSection-box: #1a1c20;
$bgSubmenu: rgba(10, 10, 11, 0.93);
$bgBoxPopup: #04060b;

$boder-color: #595b5e;
$boder-color-2: #464a4f;

$bgRow-black1: #0d0f10;
$bgRow-black2: #171a1b;
$bgRow-blue1: #304553;
$bgRow-blue2: #273843;
$bgRow-blue3: #333d54;
$bgRow-blue4: #283145;

$bgbox-content: #14181c;
$bginput: #1d2125;
$bgcol-table-n1: #323840;
$bgcol-table-n2: #23282d;
$bginput-check1: #f14d4e;
$bginput-check2: #c68b8b;
$bginput-check3: #99b199;
$bginput-check4: #7a7b7e;
$bg-progress1: #5ab2b6;
$bg-progress2: #deae3d;
$bg-btn: #363636;
$bg-btn-hover: #7a7b7e;
$data-off: #5e6977;
$color-red: #f15454;
$color-box : #a1a6ad;
$color-grey: #a3a3a3;
$boder-color2: #22272c;
$boder-color3: #3e464f;
$bg-gray: #282f37;

// Font
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

$NotoSansCJKkr: 'Noto Sans KR';
$nanumsquare: "NanumSquare";