<div class="nav-left">
	<div class="lights">
		<img src="images/bg-light.png" alt="">
		<p>이벤트 확인 <img src="images/icon-right.png" alt=""></p>
	</div>

	<nav class="nav flex-column">
		<ul class="parent">
			<li class="child">
				<a href="javascript:void(0)">
					<img src="images/tv.png" alt="">
					<p>모니터링</p>
					<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
				</a>
			</li>
			<li class="child @@class">
				<a href="javascript:void(0)">
					<img src="images/status.png" alt="">
					<p>현황</p>
					<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
				</a>
				<ul class="dropdown-menu">
					<li class="grandChild @@subactive1">
						<a tabindex="-1" href="02현황_02운영현황_pv.html">
							<p>운영 현황</p>
							<img class="icon-menu ml-auto none" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>장비별 현황</p>
							<img class="icon-menu ml-auto none" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild @@subactive2">
						<a tabindex="-1" href="02현황_02이벤트현황_pv.html">
							<p>이벤트 현황</p>
							<img class="icon-menu ml-auto none" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>손실률 현황</p>
							<img class="icon-menu ml-auto none" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>일사량 및 기상정보</p>
							<img class="icon-menu ml-auto none" src="images/icon-right.png" alt="">
						</a>
					</li>
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)">
					<img src="images/control.png" alt="">
					<p>제어</p>
					<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
				</a>
				<ul class="dropdown-menu">
					<li class="grandChild active">
						<a tabindex="-1" href="javascript:void(0)">
							<p>운영 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>장비별 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>이벤트 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>손실률 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>일사량 및 기상정보</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)">
					<img src="images/charts.png" alt="">
					<p>통계</p>
					<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
				</a>
				<ul class="dropdown-menu">
					<li class="grandChild active">
						<a tabindex="-1" href="javascript:void(0)">
							<p>운영 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>장비별 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>이벤트 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>손실률 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>일사량 및 기상정보</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)">
					<img src="images/setting.png" alt="">
					<p>관리</p>
					<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
				</a>
				<ul class="dropdown-menu">
					<li class="grandChild active">
						<a tabindex="-1" href="javascript:void(0)">
							<p>운영 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>장비별 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>이벤트 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>손실률 현황</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
					<li class="grandChild">
						<a tabindex="-1" href="javascript:void(0)">
							<p>일사량 및 기상정보</p>
							<img class="icon-menu ml-auto" src="images/icon-right.png" alt="">
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>