<h2 class="notify">공지사항 <span>선학 종합 사회 복지관 #1(인천) 시스템 오류로 인한 작업 중</span></h2>
<div class="integrated-chart">
	<div class="box-title">
		<p>실시간 장비 운영 현황</p><span>연동시간: 2019년 01월 29일 10시 59분 22초</span>
	</div>
	<div class="box-content d-flex flex-row justify-content-between position-relative">

		<div class="col box-content__sunlight pr-0">
			<div class="parameter parameter--sunlight d-flex justify-content-start position-relative">

				<!-- Arrow Line 01-->
				<div id="arrowLine01" class="bdList arrowLine01 position-absolute">
					<div class="arrowLineWrap">
						<ul class="arrowLine_list p-0">
							<!-- arrow Left to Right -->
							<li class="line line--1 arrow-right"><span class="lineCont"><i class="lineIE"></i></span></li>
						</ul>
					</div>
				</div><!-- End Arrow Line 01-->

				<!-- List PVC -->
				<div class="parameter__content">

					<div class="parameter__content--image d-flex flex-column justify-content-end align-items-center">
						<img class="img-tool bl active" src="images/sunlight-icon-bl.png" alt="" />
						<img class="mt-dot" src="images/dot.png" alt="">
					</div>

					<h3 class="text-center">PVC</h3>

					<div class="parameter__content__tabel">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">DC 전압</th>
									<th scope="col">DC 전류</th>
									<th scope="col">DC 전력</th>
								</tr>
							</thead>
							<tbody class="nicescroll">
								<tr>
									<th scope="row">
										<div class="name">PVC1</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">PVC2</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC3</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC4</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC5</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC6</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC7</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC8</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC9</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">PVC10</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div><!-- End List PVC -->

				<!-- Box PVI -->
				<div class="parameter__content">

					<div class="parameter__content--image d-flex flex-column justify-content-end align-items-center">
						<img class="img-tool or active" src="images/PCS-icon-or.png" alt="" />
						<img class="mt-dot" src="images/dot.png" alt="">
					</div>

					<h3 class="text-center">PVI</h3>

					<div class="parameter__content__tabel">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">AC 전압</th>
									<th scope="col">AC 전류</th>
									<th scope="col">AC 전력</th>
									<th scope="col">발전량</th>
									<th scope="col">발전효율</th>
								</tr>
							</thead>
							<tbody class="nicescroll">
								<tr>
									<th scope="row">
										<div class="name">인버터1</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터2</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터3</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터4</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터5</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터6</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터7</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터8</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터9</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="name">인버터10</div>
									</th>
									<td>
										<div class="data">123.45<span class="unit">V</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">A</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">W</span></div>
									</td>
									<td>
										<div class="data">123.45<span class="unit">kWh</span></div>
									</td>
									<td>
										<div class="data">123.4<span class="unit">%</span></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div><!-- End Box PVI -->

				<!-- Box TR -->
				<div class="parameter__content">

					<div class="parameter__content--image d-flex flex-column justify-content-end align-items-center">
						<img class="img-tool or active" src="images/tr-icon-re.png" alt="" />
						<img class="mt-dot" src="images/dot.png" alt="">
					</div>

					<h3 class="text-center">TR</h3>

					<div class="parameter__content__tabel">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">온도</th>
								</tr>
							</thead>
							<tbody class="nicescroll">
								<tr>
									<th scope="row">
										<div class="item--name">TR1</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR2</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR3</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR4</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR5</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR6</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR7</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR8</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR9</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<div class="item--name">TR10</div>
									</th>
									<td>
										<div class="data">50.00<span class="unit">℃</span></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div><!-- End Box PVI -->

				<!-- Box 송전전력 -->
				<div class="parameter__content parameter__content--power">

					<div class="parameter__content--image d-flex flex-column justify-content-end align-items-center">
						<img class="image-power" src="images/power-icon.png" alt="" />
						<img class="mt-dot" src="images/dot.png" alt="">
					</div>

					<h3 class="text-custom">송전전력</h3>
					<h2>200,000 <span>kW</span> </h2>

				</div><!-- End List 송전전력-->

				<div class="box-detail position-absolute">
					<div class="d-flex">
						<div class="col-6 box-detail__wrap">
							<div class="d-flex justify-content-between">
								<p class="name">설비 용량</p>
								<p class="data">20<span class="unit">Kw</span></p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="name">BAT실</p>
								<p class="data">수양태양광<span class="unit"></span></p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="name">국가</p>
								<p class="data">이탈리아<span class="unit"></span></p>
							</div>
						</div>
						<div class="col-6 box-detail__wrap">
							<div class="d-flex justify-content-between">
								<p class="name">DC Capacity</p>
								<p class="data">300000<span class="unit"></span></p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="name">PR</p>
								<p class="data">20<span class="unit">%</span></p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="name">AVA</p>
								<p class="data">20<span class="unit">%</span></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
<div class="ess-charge-chart">
	<div class="box-title align-items-center opacity">
		<p class="mr-auto">데이터 그래프</p>
	</div>

	<div class="d-flex flex-row justify-content-between custom-chart">
		<div class="essChart_canvas w-100 ">
			<div id="flow-chart" class="flow-chart">
				<div id="chartdiv"></div>
			</div>
		</div>
	</div>

</div>