<div class="solar-radiation">
	<div class="box-title">
		<p>일사량 및 온도 현황 </p>
	</div>
	<div class="box-content">
		<div class="d-flex justify-content-around align-items-center pt03">
			<img src="images/thermometer.png" alt="">
			<div class="temperature">
				<h3>20 <span>℃</span></h3>
				<p>모듈 온도</p>
			</div>
			<div class="temperature">
				<h3>30 <span>℃</span></h3>
				<p>대기 온도</p>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>경사 일사량</p>
			<h4>123.45</h4>
		</div>
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>수평 일사량</p>
			<h4>123.45</h4>
		</div>
	</div>
</div>
<div class="solar-power">
	<div class="box-title">
		<p>태양광 발전현황 </p>
		<span>단위: kWh</span>
	</div>
	<div class="box-content">
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>현재 발전량 (kWh)</p>
			<h4>500.00</h4>
		</div>
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>금일 발전 시간 (h)</p>
			<h4>0.58</h4>
		</div>
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>연 평균 발전 시간 (h)</p>
			<h4>3.58</h4>
		</div>
		<div class="d-flex justify-content-between align-items-center inclined-solar">
			<p>상업 운전일</p>
			<h4>2019.01.02</h4>
		</div>
		<div class="box-gray d-flex justify-content-between text-center">
			<div class="col-6 p-0 today">
				<h4 class="title-top">금일 발전량</h4>
				<p>132465.7 <span class="increase "><span class="light">(</span> <i class="fa fa-caret-up"></i> 64%<span class="light">)</span></span></p>
			</div>
			<div class="col-6 p-0 todo">
				<h4>전일 발전량</h4>
				<p>123456.7</p>
			</div>
		</div>
		<div class="box-gray d-flex justify-content-between text-center ">
			<div class="col-6 p-0 today">
				<h4 class="title-top">금일 10시-16시 발전량</h4>
				<p>132465.7 <span class="primary-light"><span class="light">(</span> - 21%<span class="light">)</span></span></p>
			</div>
			<div class="col-6 p-0 todo">
				<h4 class="title-top">전일 10시-16시 발전량</h4>
				<p>123456.7</p>
			</div>
		</div>
		<div class="box-gray d-flex justify-content-between text-center">
			<div class="col-6 p-0 today">
				<h4 class="title-top">누적 발전량</h4>
				<p>132465.7 <span class="reduction"><span class="light">(</span> <i class="fa fa-caret-down"></i> 89%<span class="light">)</span></span></p>
			</div>
			<div class="col-6 p-0 todo">
				<h4 class="title-top">누적 10-16시 발전량</h4>
				<p>123456.7</p>
			</div>
		</div>
	</div>
</div>
<div class="performance">
	<div class="box-title">
		<p>목표/실적 </p>
		<span>단위: h</span>
	</div>
	<div class="box-content">
		<div class="d-flex justify-content-between align-items-start button-performance">
			<div class="col-3 p-0">
				<h4 class="mr-auto"></h4>
			</div>
			<div class="col-3 p-0">
				<p class="bg-gray">실적</p>
			</div>
			<div class="col-3 p-0">
				<p class="bg-gray">목표</p>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-start box-performance">
			<div class="col-4 p-0">
				<h4>금일 발전 <br /> <span>(달성율 90%)</span> </h4>
			</div>
			<div class="col-4 p-0">
				<p class="primary-dark">3.255</p>
			</div>
			<div class="col-4 p-0">
				<p class="reduction-light">2.335</p>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-start box-performance">
			<div class="col-4 p-0">
				<h4>금일 발전 <br /> <span>(달성율 90%)</span> </h4>
			</div>
			<div class="col-4 p-0">
				<p class="primary-dark">3.255</p>
			</div>
			<div class="col-4 p-0">
				<p class="reduction-light">3.952</p>
			</div>
		</div>
	</div>
</div>