.form-groups .text {
  display: block;
  margin: 15px 0 0;
}

#formContent {
  padding-bottom: 30px;
}

.text-notifi {
  margin: 10px 30px 15px;
}

.text-notifi .alert {
  margin-bottom: 0;
}
.action-footer span{
	padding: 10px;
}