.page-resetpassword .form-groups {
  position: relative;
}

.page-resetpassword .form-groups .text {
  display: block;
  margin: 15px 0 0;
}

.page-resetpassword #formContent {
  padding-bottom: 30px;
  margin-top: 100px;
}

.text-email {
  padding-left: 30px;
  margin-top: 10px;
  font-weight: 700;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .text-email {
    font-weight: 500;
  }
}

.btn-submit {
  width: 100px;
}

.page-resetpassword #formContent h1 {
  font-size: 25px;
  line-height: 1.5;
}

.image-input {
  position: absolute;
  top: 38px;
  right: 8px;
  width: 16px;
}
