/* noto-sans-kr-100 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.eot');
	src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.ttf') format('truetype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-100.svg#NotoSansKR') format('svg');
}

/* noto-sans-kr-300 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.eot');
	src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.ttf') format('truetype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-300.svg#NotoSansKR') format('svg');
}

/* noto-sans-kr-regular - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.eot');
	src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.ttf') format('truetype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-regular.svg#NotoSansKR') format('svg');
}

/* noto-sans-kr-500 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-500.eot');
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-500.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-500.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-500.ttf') format('truetype'),
		url('../fonts/noto/noto-sans-kr-v8-korean-500.svg#NotoSansKR') format('svg');
}

/* noto-sans-kr-700 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.eot');
	src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.ttf') format('truetype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-700.svg#NotoSansKR') format('svg');
}

/* noto-sans-kr-900 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.eot');
	src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.woff2') format('woff2'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.woff') format('woff'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.ttf') format('truetype'),
		url('../fonts/NotoSans/noto-sans-kr-v8-korean-900.svg#NotoSansKR') format('svg');
}

/* NanumSquare-200 */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 200;
	src: url('../fonts/NanumSquare/NanumSquareL.eot');
	src: url('../fonts/NanumSquare/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumSquare/NanumSquareL.woff') format('woff'),
		url('../fonts/NanumSquare/NanumSquareL.ttf') format('truetype');
}

/* NanumSquare-400 */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: url('../fonts/NanumSquare/NanumSquareR.eot');
	src: url('../fonts/NanumSquare/NanumSquareR?#iefix') format('embedded-opentype'),
		url('../fonts/NanumSquare/NanumSquareR.woff') format('woff'),
		url('../fonts/NanumSquare/NanumSquareR.ttf') format('truetype');
}

/* NanumSquare-700 */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: url('../fonts/NanumSquare/NanumSquareB.eot');
	src: url('../fonts/NanumSquare/NanumSquareB?#iefix') format('embedded-opentype'),
		url('../fonts/NanumSquare/NanumSquareB.woff') format('woff'),
		url('../fonts/NanumSquare/NanumSquareB.ttf') format('truetype');
}

/* NanumSquare-900 */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 900;
	src: url('../font/NanumSquare/NanumSquareEB.eot');
	src: url('../font/NanumSquare/NanumSquareEB?#iefix') format('embedded-opentype'),
		url('../font/NanumSquare/NanumSquareEB.woff') format('woff'),
		url('../font/NanumSquare/NanumSquareEB.ttf') format('truetype');
}