<div class="box-content-maps mb-2">
	<div class="row mb-0">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom text-left">
					<img class="align-bottom" src="images/3_icon1.png" alt="Table" title="Table">
					PCS 01
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top max-520">
					<tr>
						<td>
							<p>전력:</p>
						</td>
						<td>103.3<span>kw</span></td>
						<td>
							<p>내부온도:</p>
						</td>
						<td>75.25<span>℃</span></td>
					</tr>
					<tr>
						<td>
							<p>주파수:</p>
						</td>
						<td>62<span>Hz</span></td>
						<td>
							<p>역률:</p>
						</td>
						<td>95.03<span>%</span></td>
					</tr>
					<tr>
						<td>
							<p>누적충전량:</p>
						</td>
						<td>1,500<span>MWh</span></td>
						<td>
							<p>누적방전량:</p>
						</td>
						<td>1,500<span>MWh</span></td>
					</tr>
					<tr>
						<td>
							<p>AC 전압:</p>
						</td>
						<td>380/381/382<span>V</span></td>
						<td>
							<p>AC 전류:</p>
						</td>
						<td>51/52/53<span>A</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>DC 전압:</p>
						</td>
						<td class="active charge">700.05<span>V</span></td>
						<td>
							<p>DC 전류:</p>
						</td>
						<td>155.23<span>A</span></td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>DC 전력:</p>
						</td>
						<td class="active discharge">155.23<span>V</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0  h-100">
				<div class="content-chart w-100">
					<div id="equipmentChartpcs01" class="amchart" style="height: 340px;"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table mt-2 table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="box-content-maps mb-2">
	<div class="row mb-0">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom text-left">
					<img class="align-bottom" src="images/3_icon1.png" alt="Table" title="Table">
					PCS 02
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top max-520">
					<tr>
						<td>
							<p>전력:</p>
						</td>
						<td>103.3<span>kw</span></td>
						<td>
							<p>내부온도:</p>
						</td>
						<td>75.25<span>℃</span></td>
					</tr>
					<tr>
						<td>
							<p>주파수:</p>
						</td>
						<td>62<span>Hz</span></td>
						<td>
							<p>역률:</p>
						</td>
						<td>95.03<span>%</span></td>
					</tr>
					<tr>
						<td>
							<p>누적충전량:</p>
						</td>
						<td>1,500<span>MWh</span></td>
						<td>
							<p>누적방전량:</p>
						</td>
						<td>1,500<span>MWh</span></td>
					</tr>
					<tr>
						<td>
							<p>AC 전압</p>
						</td>
						<td>380/381/382<span>V</span></td>
						<td>
							<p>AC 전류:</p>
						</td>
						<td>51/52/53<span>A</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>DC 전압:</p>
						</td>
						<td class="active charge">700.05<span>V</span></td>
						<td>
							<p>DC 전류:</p>
						</td>
						<td>155.23<span>A</span></td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>DC 전력:</p>
						</td>
						<td class="active discharge">155.23<span>V</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0  h-100">
				<div class="content-chart w-100">
					<div id="equipmentChartpcs02" class="amchart" style="height: 340px"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table mt-2 table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>37</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>