<div class="row m-0 mb-2">
                            <div class="tab-option col-1 pl-0 pr-2">
                                <div class="tab-scrollbar h-100">
                                    <h2>BCP #01</h2>
                                    <div class="list">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li><a class="nav-link active" id="rack-1" data-toggle="pill" href="#pills-rack-1" role="tab" aria-controls="pills-rack-1" aria-selected="true">Rack #01</a></li>
                                            <li><a class="nav-link" id="rack-2" data-toggle="pill" href="#pills-rack-2" role="tab" aria-controls="pills-rack-2" aria-selected="false">Rack #02</a></li>
                                            <li><a class="nav-link" id="rack-3" data-toggle="pill" href="#pills-rack-3" role="tab" aria-controls="pills-rack-3" aria-selected="false">Rack #03</a></li>
                                            <li><a class="nav-link" id="rack-4" data-toggle="pill" href="#pills-rack-4" role="tab" aria-controls="pills-rack-4" aria-selected="false">Rack #04</a></li>
                                            <li><a class="nav-link" id="rack-5" data-toggle="pill" href="#pills-rack-5" role="tab" aria-controls="pills-rack-5" aria-selected="false">Rack #05</a></li>
                                            <li><a class="nav-link" id="rack-6" data-toggle="pill" href="#pills-rack-6" role="tab" aria-controls="pills-rack-6" aria-selected="false">Rack #06</a></li>
                                            <li><a class="nav-link" id="rack-7" data-toggle="pill" href="#pills-rack-7" role="tab" aria-controls="pills-rack-7" aria-selected="false">Rack #07</a></li>
                                            <li><a class="nav-link" id="rack-8" data-toggle="pill" href="#pills-rack-8" role="tab" aria-controls="pills-rack-8" aria-selected="false">Rack #08</a></li>
                                            <li><a class="nav-link" id="rack-9" data-toggle="pill" href="#pills-rack-9" role="tab" aria-controls="pills-rack-9" aria-selected="false">Rack #09</a></li>
                                            <li><a class="nav-link" id="rack-10" data-toggle="pill" href="#pills-rack-10" role="tab" aria-controls="pills-rack-10" aria-selected="false">Rack #10</a></li>
                                            <li><a class="nav-link" id="rack-11" data-toggle="pill" href="#pills-rack-11" role="tab" aria-controls="pills-rack-11" aria-selected="false">Rack #11</a></li>
                                            <li><a class="nav-link" id="rack-12" data-toggle="pill" href="#pills-rack-12" role="tab" aria-controls="pills-rack-12" aria-selected="false">Rack #12</a></li>
                                            <li><a class="nav-link" id="rack-13" data-toggle="pill" href="#pills-rack-13" role="tab" aria-controls="pills-rack-13" aria-selected="false">Rack #13</a></li>
                                            <li><a class="nav-link" id="rack-14" data-toggle="pill" href="#pills-rack-14" role="tab" aria-controls="pills-rack-14" aria-selected="false">Rack #14</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content-maps col-11">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-rack-1" role="tabpanel" aria-labelledby="rack-1">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-2" role="tabpanel" aria-labelledby="rack-2">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-3" role="tabpanel" aria-labelledby="rack-3">
                                        @@include('rack/5.3.tab-rack-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-4" role="tabpanel" aria-labelledby="rack-4">
                                        @@include('rack/5.3.tab-rack-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-5" role="tabpanel" aria-labelledby="rack-5">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-6" role="tabpanel" aria-labelledby="rack-6">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-7" role="tabpanel" aria-labelledby="rack-7">
                                        @@include('rack/5.3.tab-rack-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-8" role="tabpanel" aria-labelledby="rack-8">
                                        @@include('rack/5.3.tab-rack-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-9" role="tabpanel" aria-labelledby="rack-9">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-10" role="tabpanel" aria-labelledby="rack-10">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-11" role="tabpanel" aria-labelledby="rack-11">
                                        @@include('rack/5.3.tab-rack-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-12" role="tabpanel" aria-labelledby="rack-12">
                                        @@include('rack/5.3.tab-rack-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-13" role="tabpanel" aria-labelledby="rack-13">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack-14" role="tabpanel" aria-labelledby="rack-14">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-0 mb-2">
                            <div class="tab-option col-1 pl-0 pr-2">
                                <div class="tab-scrollbar h-100">
                                    <h2>BCP #02</h2>
                                    <div class="list">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li><a class="nav-link active" id="rack2-1" data-toggle="pill" href="#pills-rack2-1" role="tab" aria-controls="pills-rack2-1" aria-selected="true">Rack #01</a></li>
                                            <li><a class="nav-link" id="rack2-2" data-toggle="pill" href="#pills-rack2-2" role="tab" aria-controls="pills-rack2-2" aria-selected="false">Rack #02</a></li>
                                            <li><a class="nav-link" id="rack2-3" data-toggle="pill" href="#pills-rack2-3" role="tab" aria-controls="pills-rack2-3" aria-selected="false">Rack #03</a></li>
                                            <li><a class="nav-link" id="rack2-4" data-toggle="pill" href="#pills-rack2-4" role="tab" aria-controls="pills-rack2-4" aria-selected="false">Rack #04</a></li>
                                            <li><a class="nav-link" id="rack2-5" data-toggle="pill" href="#pills-rack2-5" role="tab" aria-controls="pills-rack2-5" aria-selected="false">Rack #05</a></li>
                                            <li><a class="nav-link" id="rack2-6" data-toggle="pill" href="#pills-rack2-6" role="tab" aria-controls="pills-rack2-6" aria-selected="false">Rack #06</a></li>
                                            <li><a class="nav-link" id="rack2-7" data-toggle="pill" href="#pills-rack2-7" role="tab" aria-controls="pills-rack2-7" aria-selected="false">Rack #07</a></li>
                                            <li><a class="nav-link" id="rack2-8" data-toggle="pill" href="#pills-rack2-8" role="tab" aria-controls="pills-rack2-8" aria-selected="false">Rack #08</a></li>
                                            <li><a class="nav-link" id="rack2-9" data-toggle="pill" href="#pills-rack2-9" role="tab" aria-controls="pills-rack2-9" aria-selected="false">Rack #09</a></li>
                                            <li><a class="nav-link" id="rack2-10" data-toggle="pill" href="#pills-rack2-10" role="tab" aria-controls="pills-rack2-10" aria-selected="false">Rack #10</a></li>
                                            <li><a class="nav-link" id="rack2-11" data-toggle="pill" href="#pills-rack2-11" role="tab" aria-controls="pills-rack2-11" aria-selected="false">Rack #11</a></li>
                                            <li><a class="nav-link" id="rack2-12" data-toggle="pill" href="#pills-rack2-12" role="tab" aria-controls="pills-rack2-12" aria-selected="false">Rack #12</a></li>
                                            <li><a class="nav-link" id="rack2-13" data-toggle="pill" href="#pills-rack2-13" role="tab" aria-controls="pills-rack2-13" aria-selected="false">Rack #13</a></li>
                                            <li><a class="nav-link" id="rack2-14" data-toggle="pill" href="#pills-rack2-14" role="tab" aria-controls="pills-rack2-14" aria-selected="false">Rack #14</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content-maps col-11">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-rack2-1" role="tabpanel" aria-labelledby="rack2-1">
                                        @@include('rack/5.3.tab-rack2-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-2" role="tabpanel" aria-labelledby="rack2-2">
                                        @@include('rack/5.3.tab-rack2-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-3" role="tabpanel" aria-labelledby="rack2-3">
                                        @@include('rack/5.3.tab-rack2-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-4" role="tabpanel" aria-labelledby="rack2-4">
                                        @@include('rack/5.3.tab-rack2-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-5" role="tabpanel" aria-labelledby="rack2-5">
                                        @@include('rack/5.3.tab-rack2-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-6" role="tabpanel" aria-labelledby="rack2-6">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-7" role="tabpanel" aria-labelledby="rack2-7">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-8" role="tabpanel" aria-labelledby="rack2-8">
                                        @@include('rack/5.3.tab-rack-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-9" role="tabpanel" aria-labelledby="rack2-9">
                                        @@include('rack/5.3.tab-rack-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-10" role="tabpanel" aria-labelledby="rack2-10">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-11" role="tabpanel" aria-labelledby="rack2-11">
                                        @@include('rack/5.3.tab-rack-2.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-12" role="tabpanel" aria-labelledby="rack2-12">
                                        @@include('rack/5.3.tab-rack-3.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-13" role="tabpanel" aria-labelledby="rack2-13">
                                        @@include('rack/5.3.tab-rack-4.html')
                                    </div>
                                    <div class="tab-pane fade" id="pills-rack2-14" role="tabpanel" aria-labelledby="rack2-14">
                                        @@include('rack/5.3.tab-rack-1.html')
                                    </div>
                                </div>
                            </div>
                        </div>