<div class="box-content-maps mb-3">
	<div class="row">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom">
					<img class="align-bottom" src="images/icon-pv.png" alt="Table" title="Table">
					PV인버터 01
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top w-50">
					<tr>
						<td colspan="2" class="text-center">
							<p>모듈 설치 환경</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>경사면 일사:</p>
						</td>
						<td>205<span>w/m2</span></td>
					</tr>
					<tr>
						<td>
							<p>수평 일사량:</p>
						</td>
						<td>208<span>w/m2</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>모듈 온도:</p>
						</td>
						<td class="active charge">38.8<span>℃</span></td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>외기 온도:</p>
						</td>
						<td class="active discharge">155.25<span>℃</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0  h-100">
				<div class="w-100 content-chart">
					<div id="equipmentChartpv01" class="amchart" style="height: 340px"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table mt-1 table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="box-content-maps mb-3">
	<div class="row">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom">
					<img class="align-bottom" src="images/icon-pv.png" alt="Table" title="Table">
					PV인버터 02
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top w-50">
					<tr>
						<td colspan="2" class="text-center">
							<p>모듈 설치 환경</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>경사면 일사:</p>
						</td>
						<td>205<span>w/m2</span></td>
					</tr>
					<tr>
						<td>
							<p>수평 일사량:</p>
						</td>
						<td>208<span>w/m2</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>모듈 온도:</p>
						</td>
						<td class="active charge">38.8<span>℃</span></td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>외기 온도:</p>
						</td>
						<td class="active discharge">155.25<span>℃</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0  h-100">
				<div class="w-100 content-chart">
					<div id="equipmentChartpv02" class="amchart" style="height: 340px"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table mt-1 table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>