<div class="box-content-maps mb-3">
	<div class="row">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom">
					<img class="align-bottom" src="images/icon-table-acb-2.png" alt="Table" title="Table">
					ACB 01
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top table-vcb">
					<tr>
						<td>
							<p>위치:</p>
						</td>
						<td class="pr-4">
							<p>PCS 앞</p>
						</td>
						<td colspan="2" class="text-center w-50">
							<p>PCS 앞</p>
						</td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>전체 유효 전력:</p>
						</td>
						<td class="active discharge">0<span>kw</span></td>
						<td>
							<p>R상 전류:</p>
						</td>
						<td>648.1<span>a</span></td>
					</tr>
					<tr>
						<td>
							<p>전체 무효 전력:</p>
						</td>
						<td>13.1<span>kVar</span></td>
						<td>
							<p>S상 전류:</p>
						</td>
						<td>662<span>a</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>전체 역방향 유효 전력:</p>
						</td>
						<td class="active charge">489.1<span>kw</span></td>
						<td>
							<p>T상 전류:</p>
						</td>
						<td>654.5<span>a</span></td>
					</tr>
					<tr>
						<td>
							<p>전체 역방향 무효 전력:</p>
						</td>
						<td>0<span>kVar</span></td>
						<td>
							<p>주파수:</p>
						</td>
						<td>60.01<span>Hz</span></td>
					</tr>
					<tr>
						<td>
							<p>RS 선간 전압:</p>
						</td>
						<td>433.1<span>V</span></td>
						<td>
							<p>역률:</p>
						</td>
						<td>-1<span></span></td>
					</tr>
					<tr>
						<td>
							<p>ST 선간 전압:</p>
						</td>
						<td>431.8<span>V</span></td>
					</tr>
					<tr>
						<td>
							<p>TR 선간 전압:</p>
						</td>
						<td>432<span>V</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0 h-100 mb-2">
				<div class="w-100 content-chart">
					<div id="equipmentChartacb01" class="amchart" style="height: 380px"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="box-content-maps mb-2">
	<div class="row">
		<div class="col-4 box-table pr-2">
			<div class="box-content-table h-100">
				<div class="box-header align-bottom">
					<img class="align-bottom" src="images/icon-table-acb-2.png" alt="Table" title="Table">
					ACB 02
				</div>
				<p class="sub-title">※ 항목 선택시 선택한 데이터 확인이 가능합니다.</p>
				<table class="table table-bordered mb-0 table-top table-vcb">
					<tr>
						<td>
							<p>위치:</p>
						</td>
						<td class="pr-4">
							<p>PCS 앞</p>
						</td>
						<td colspan="2" class="text-center w-50">
							<p>PCS 앞</p>
						</td>
					</tr>
					<tr>
						<td class="active discharge">
							<p>전체 유효 전력:</p>
						</td>
						<td class="active discharge">0<span>kw</span></td>
						<td>
							<p>R상 전류:</p>
						</td>
						<td>648.1<span>a</span></td>
					</tr>
					<tr>
						<td>
							<p>전체 무효 전력:</p>
						</td>
						<td>13.1<span>kVar</span></td>
						<td>
							<p>S상 전류:</p>
						</td>
						<td>662<span>a</span></td>
					</tr>
					<tr>
						<td class="active charge">
							<p>전체 역방향 유효 전력:</p>
						</td>
						<td class="active charge">489.1<span>kw</span></td>
						<td>
							<p>T상 전류:</p>
						</td>
						<td>654.5<span>a</span></td>
					</tr>
					<tr>
						<td>
							<p>전체 역방향 무효 전력:</p>
						</td>
						<td>0<span>kVar</span></td>
						<td>
							<p>주파수:</p>
						</td>
						<td>60.01<span>Hz</span></td>
					</tr>
					<tr>
						<td>
							<p>RS 선간 전압:</p>
						</td>
						<td>433.1<span>V</span></td>
						<td>
							<p>역률:</p>
						</td>
						<td>-1<span></span></td>
					</tr>
					<tr>
						<td>
							<p>ST 선간 전압:</p>
						</td>
						<td>431.8<span>V</span></td>
					</tr>
					<tr>
						<td>
							<p>TR 선간 전압:</p>
						</td>
						<td>432<span>V</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-8 box-maps pl-2">
			<div class="box-content-table p-0 h-100 mb-2">
				<div class="w-100 content-chart">
					<div id="equipmentChartacb02" class="amchart" style="height: 380px"></div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="box-content-table table-bottom">
				<p class="sub-title">※ 위에선택한 항목을 시간별 볼수 있는 차트입니다.</p>
				<table class="table table-bordered mb-0">
					<thead>
						<tr>
							<th>0시</th>
							<th>1시</th>
							<th>2시</th>
							<th>3시</th>
							<th>4시</th>
							<th>5시</th>
							<th>6시</th>
							<th>7시</th>
							<th>8시</th>
							<th>9시</th>
							<th>10시</th>
							<th>11시</th>
							<th>12시</th>
							<th>13시</th>
							<th>14시</th>
							<th>15시</th>
							<th>16시</th>
							<th>17시</th>
							<th>18시</th>
							<th>19시</th>
							<th>20시</th>
							<th>21시</th>
							<th>22시</th>
							<th>23시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
						<tr>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
							<td>9,999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>