//Header
.header {
	background-color: $colorBlack;
	color: $colorWhite-5;
	padding-left: 26px;
	padding-right: 26px;

	.header-right {
		@include breakpoint(maxdesktop19in) {
			-ms-flex: 0 0 46%;
			flex: 0 0 46%;
			max-width: 46%;
		}
	}

	.header-left {
		@include breakpoint(maxdesktop19in) {
			-ms-flex: 0 0 54%;
			flex: 0 0 54%;
			max-width: 54%;
		}
	}

	.logo {
		padding: 15px 0;
		position: relative;
		width: 75%;
		z-index: 1;

		&:hover {
			cursor: default;
		}

		&__image {
			margin-right: 22px;

			&:hover {
				cursor: pointer;
			}
		}

		&__title {
			color: $colorWhite-7;

			.site-title {
				font-size: 26px;
				font-weight: $bold;
				margin-bottom: 5px;
				letter-spacing: -1.2px;
			}

			.site-sub {
				font-size: 16px;
				font-weight: $medium;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.event-notification {
		top: 0;
		right: -182px;
		width: 604px;
		height: 100%;
		background-size: cover;

		&--red {
			@include background("../images/notification_re.png", 100% 0%, repeat);
		}

		&--grey {
			@include background("../images/notification_gy.png", 100% 0%, repeat);
		}

		&--green {
			@include background("../images/notification_gre.png", 100% 0%, repeat);
		}

		&--orange {
			@include background("../images/notification_or.png", 100% 0%, repeat);
		}

		&_popup {

			.img-notice {}
		}
	}

	.top-header {
		padding: 7px 0;

		p {
			font-size: 16px;
			margin: 0;
		}

		.date-time {
			color: $colorWhite-8;
			font-weight: $light;

			&--time {
				margin-left: 10px;
			}
		}

		.userLogin {
			margin-left: 28px;

			.account {
				font-weight: $bold;
				color: $colorWhite-6;
				font-size: 16px;
			}

			.logout {
				color: $colorWhite;
				font-size: 11px;
				background-color: rgba(41, 45, 50, 0.3);
				border: 1px solid #292d32;
				padding: 7px 16px;
				margin-left: 8px;
				@include radius(30px);

				&:hover {
					border-color: $colorWhite-6;
				}
			}
		}
	}

	.nav-menu {
		padding: 8px 12px 0 0;
		margin-bottom: -1px;

		&__main {
			padding: 0;
			margin: 0;

			>.menu-item {
				>a {
					&:after {
						content: "";
						position: absolute;
						bottom: -2px;
						width: 100%;
						@include transition(0.3s);
						border-bottom: 3px solid transparent;
						z-index: 10;
						left: 10px;
						width: calc(100% - 20px);
					}
				}

				&:hover>a,
				&.current-menu-item>a {
					&:after {
						border-bottom: 3px solid $color-link;
					}
				}
			}

			.menu-item {
				position: relative;
				list-style-type: none;
				padding: 0 22px;

				@include breakpoint(lgmax) {
					padding: 0 25px;
				}

				img {
					margin-right: 10px;

					@include breakpoint(maxdesktop19in) {
						width: 16px;
					}
				}

				.icon-hover {
					display: none;
				}

				a {
					display: block;
					font-size: 18px;
					font-weight: $regular;
					color: #666a6e;
					padding: 0 6px 14px;
					@include transition(0s);
				}

				&.current-menu-item,
				&:hover {
					a {
						font-size: 18px;
						font-weight: $medium;
						color: $color-link;
					}

					.icon-hover {
						display: block;
					}

					.icon-main {
						display: none;
					}
				}

				&::after {
					content: "";
					position: absolute;
					top: calc(50% - 5.5px);
					right: 0;
					background-color: #2f2f2f;
					height: 11px;
					width: 1px;
				}

				&:last-of-type {
					padding-right: 0;

					>a {
						&:after {
							left: 10px;
							min-width: 100px;

							@include breakpoint(lgmax) {
								left: -1px;
							}
						}
					}

					.sub-menu {
						right: -18px;
						min-width: 100px;
					}

					&::after {
						display: none;
					}
				}

				&.menu-has-child {
					.sub-menu {
						display: none;
					}

					&:hover {
						.sub-menu {
							display: block;
						}
					}
				}

				@include breakpoint(lgxmax) {
					padding: 0 20px;

					a {
						font-size: 18px;
					}

					&.current-menu-item,
					&:hover {
						a {
							font-size: 18px;
						}
					}
				}

				@include breakpoint(lgmax17) {
					padding: 0 15px;

					a {
						font-size: 16px;
					}

					&.current-menu-item,
					&:hover {
						a {
							font-size: 16px;
						}
					}
				}
			}

			.sub-menu {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				padding: 5px 0 0;
				margin: 0;
				z-index: 9;
				width: auto;

				.menu-item {
					width: 100%;
					padding: 0;
					padding-left: 70px;
					padding-right: 10px;
					text-align: center;
					background-color: rgba(10, 10, 11, 1);
					border-left: 1px solid #595b5e;
					border-right: 1px solid #595b5e;

					a {
						position: relative;
						font-size: 16px;
						font-weight: $extraLight;
						color: $colorWhite;
						border-bottom: 2px solid transparent;
						padding: 10px 15px;
						opacity: 0.6;
						white-space: nowrap;
						text-align: right;

						&.is-active {
							font-weight: $medium;
							color: $color-link;
							opacity: 1;
							border-bottom: 0;
						}
					}

					&::after {
						display: none;
					}

					&:hover {
						a {
							font-weight: $regular;
							color: $color-link;
							opacity: 1;
						}
					}

					&:first-of-type {
						border-top: 1px solid #595b5e;
					}

					&:last-of-type {
						border-bottom: 1px solid #595b5e;

						a {
							&::after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}