<footer>

</footer>
<a href="javascript:" id="return-to-top"><img src="images/image.png" alt=""></a>
</div>

<script type="text/javascript" src="lib/popper.js/popper.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/fancyapps/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="lib/jquery-ui/ui/widget.js"></script>
<script type="text/javascript" src="lib/jquery-ui/ui/widgets/dialog.js"></script>
@@addJs

<div id="iframe_detail_power_popup" class="iframe_popup">

	<div class="panel-title">
		title
	</div>
	<div class="panel-body">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
		standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
		type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
		essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
		passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>
	<div class="panel-footer">
		footer
	</div>
</div>

<div id="iframe_detail_popup" class="iframe_popup">

	<div class="panel-title">
		title
	</div>
	<div class="panel-body">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
		standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
		type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
		essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
		passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>
	<div class="panel-footer">
		footer
	</div>
</div>
<div id="automatic_operation_popup" class="page_popup">
	<div class="panel-title">
		<h2>자동 운전 설정</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_edit_info">
			<div class="form-group">
				<label for="text_name">PV 추종률 :</label>
				<div class="d-flex justify-content-end align-items-center popup-right">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>%</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">배터리 운전 범위 :</label>
				<div class="d-flex justify-content-end align-items-center popup-right">
					<input type="text" name="text-name" class="text_battery" value="1">
					<h4>~</h4>
					<input type="text" name="text-name" class="text_battery" value="1">
					<h6></h6>
				</div>

			</div>
			<div class="form-group">
				<label class="title_name">추종 운전시간 : (충전)</label>
				<div class="d-flex justify-content-end align-items-center popup-right">
					<div class="group">
						<select name="" class="driving-time">
							<option value="">00시</option>
							<option value="">01시</option>
							<option value="">02시</option>
						</select>
						<select name="" class="driving-time">
							<option value="">00시</option>
							<option value="">01시</option>
							<option value="">02시</option>
						</select>
					</div>
					<div class="group-bottom">
						<select name="" class="driving-time">
							<option value="">00분</option>
							<option value="">01분</option>
							<option value="">02분</option>
						</select>
						<select name="" class="driving-time">
							<option value="">00분</option>
							<option value="">01분</option>
							<option value="">02분</option>
						</select>
					</div>
					<h6 class="unit">~</h6>
				</div>
			</div>
			<div class="form-group">
				<label for="text_name">출력 제한 : </label>
				<div class="d-flex justify-content-end align-items-center popup-right">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kw</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">온도설정(기기선택) :</label>
				<div class="d-flex justify-content-end align-items-center popup-right">
					<select name="">
						<option value="">기기선택</option>
					</select>
					<h6></h6>
				</div>

			</div>
			<div class="form-group d-flex align-items-center middle">
				<label class="text_name-custom">온도설정 (온도 범위) :</label>
				<div class="fault-title">Warming :</div>
				<div class="d-flex align-items-center popup-right warming">
					<input type="text" name="text-name" class="text_battery" value="1">
					<h4>~</h4>
					<input type="text" name="text-name" class="text_battery" value="1">
					<h6>℃</h6> <br />

				</div>
			</div>
			<div class="form-group d-flex align-items-center">
				<label class="text_name-custom"></label>
				<div class="fault-title">Fault :</div>
				<div class="d-flex align-items-center popup-right fault">

					<input type="text" name="text-name" class="text_battery" value="1">
					<h4>~</h4>
					<input type="text" name="text-name" class="text_battery" value="1">
					<h6>℃</h6> <br />

				</div>
			</div>
			<div class="form-group">
				<label for="text_name">온도설정(사용여부) :</label>
				<div class="d-flex popup-right">
					<div class="custom-control custom-checkbox custom-control-inline pl-0 mr-0">
						<input class="styled-checkbox check-box temperature" type="checkbox" value="value1" checked="">
						<label for="styled-checkbox-1">사용</label>
					</div>
				</div>

			</div>
			<div class="d-flex justify-content-center form-group mt-4">
				<input type="submit" class="apply" value="적용하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>
<div id="capacity_popup" class="page_popup">
	<div class="panel-title">
		<h2>용량 설정</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_edit_info">
			<div class="form-group">
				<label for="text_name">태양광 용량 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kWh</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">PCS 용량 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kw</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">태양광 용량 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kWh</h6>
				</div>

			</div>
			<div class="d-flex justify-content-center form-group">
				<input type="submit" class="apply" value="적용하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>

<div id="changing-settings_popup" class="page_popup">
	<div class="panel-title">
		<h2>계약 유형</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_edit_info">
			<div class="form-group">
				<label for="text_name">SMP +REC :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kWh</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">SMP 단가 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kWh</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">REC 단가 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>kWh</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">REC 가중치(ESS) :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6></h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">REC 가중치(ESS) :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6></h6>
				</div>

			</div>
			<div class="d-flex justify-content-center form-group">
				<input type="submit" class="apply" value="적용하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>
<div id="event_popup" class="page_popup">
	<div class="panel-title">
		<h2>이벤트 설정</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_edit_info">
			<div class="form-group">
				<label for="text_name">BMS 전압 설정 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>~</h6>
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>℃</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">BMS 전압 설정 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>~</h6>
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>V</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">BMS 전압 설정 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>~</h6>
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>V</h6>
				</div>

			</div>
			<div class="form-group">
				<label for="text_name">BMS 전압 설정 :</label>
				<div class="d-flex justify-content-end align-items-center">
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>~</h6>
					<input type="text" name="text-name" class="text_name" value="1">
					<h6>V</h6>
				</div>
			</div>
			<div class="d-flex justify-content-center form-group">
				<input type="submit" class="apply" value="적용하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>
<div id="add_user_popup" class="page_popup">
	<div class="panel-title">
		<h2>관리자 등록</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_add_user">
			<div class="form-group d-flex name align-items-center">
				<label for="name" class="mr-auto ">아이디</label>
				<input type="text" name="name" value="Jini1237">
				<a href="">중복체크</a>
			</div>
			<div class="form-group">
				<label for="name" class="mr-auto "></label>
				<p class="error">※ 해당 아이디가 존재합니다. </p>
			</div>
			<div class="form-group justify-content-between align-items-center">
				<label for="text_name">비밀 번호</label>
				<input type="password" name="password" class="password" value="0123456789">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="confirm-password">비밀 번호 확인</label>
				<input type="password" name="confirm-password" class="password" value="0123456789">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="name">이름</label>
				<input type="text" name="name" class="" value="신용종">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="select">직책</label>
				<select class="select-option" name="select">
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
				</select>
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="tel">전화번호</label>
				<input type="tel" name="tel" class="" value="010-1234-1234">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="sms">SMS 발송</label>
				<div class="custom-control custom-checkbox custom-control-inline pl-0 mr-0">
					<input class="styled-checkbox check-box temperature" type="checkbox" value="value1" checked="">
					<label for="styled-checkbox-1">발송동의</label>
				</div>
			</div>

			<div class="action-submit d-flex justify-content-center form-group">
				<input type="submit" name="submit" class="btn btn-default" value="등록하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>
<div id="info_user_popup" class="page_popup">
	<div class="panel-title">
		<h2>관리자 상세보기</h2>
	</div>
	<div class="panel-body">
		<form action="" method="" class="form_add_user">
			<div class="form-group">
				<label for="name">아이디</label>
				<p>Alpha</p>
			</div>
			<div class="form-group justify-content-between align-items-center">
				<label for="text_name">비밀 번호</label>
				<input type="password" name="password" class="password" value="0123456789">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="confirm-password">비밀 번호 확인</label>
				<input type="password" name="confirm-password" class="password" value="0123456789">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="name">이름</label>
				<input type="text" name="name" class="" value="신용종">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="select">직책</label>
				<select class="select-option" name="select">
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
					<option>직책선택</option>
				</select>
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="tel">전화번호</label>
				<input type="tel" name="tel" class="" value="010-1234-1234">
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<label for="sms">SMS 발송</label>
				<div class="custom-control custom-checkbox custom-control-inline pl-0 mr-0">
					<input class="styled-checkbox check-box temperature" type="checkbox" value="value1" checked="">
					<label for="styled-checkbox-1">발송동의</label>
				</div>
			</div>

			<div class="action-submit d-flex justify-content-center form-group">
				<input type="submit" name="submit" class="btn btn-default" value="수정하기">
				<input type="submit" class="cancel" value="취소" data-fancybox-close>
			</div>
		</form>
	</div>
</div>
</body>

</html>