<div class="datatable rounded">
	<div class="chart_title border-black">
		<p class="p-0 m-0 text-left">이벤트 통계</p>
	</div>
	<div class="operation-status">
		<div class="d-flex justify-content-between">
			<div class="button-lenght">
				<select name="" id="">
					<option value="">5</option>
					<option value="">10</option>
					<option value="">15</option>
				</select>
				<p>개씩 보기</p>
			</div>
		</div>
		<div class="table-responsive" width="100%">
			<table class="table table-striped table-bordered table-hover custom-datatable" id="custom-dataTables">
				<thead>
					<tr>
						<th>이벤트명</th>
						<th>기기</th>
						<th>수위</th>
						<th>종지 전압</th>
						<th>발생시간</th>
						<th>종료시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Batt 저전압</td>
						<td>PCS #1</td>
						<td>Fault</td>
						<td>IGBT Fault</td>
						<td>2017-01-02 04:04:01</td>
						<td>2017-01-02 06:06:02</td>
					</tr>
					<tr>
						<td>PCS Fault</td>
						<td>PCS #1</td>
						<td>Fault</td>
						<td>충전 전압의 110%</td>
						<td>2017-01-02 04:04:01</td>
						<td>2017-01-02 06:06:02</td>
					</tr>
					<tr>
						<td>PCS Fault</td>
						<td>BMS #1</td>
						<td>Fault</td>
						<td>종지 전압</td>
						<td>2017-01-02 04:04:01</td>
						<td>2017-01-02 06:06:02</td>
					</tr>
					<tr>
						<td>Batt 저전압</td>
						<td>RACK #1</td>
						<td>Warning</td>
						<td>Fault</td>
						<td>2017-01-02 04:04:01</td>
						<td>2017-01-02 06:06:02</td>
					</tr>
					<tr>
						<td>Batt 과전압</td>
						<td>PCS #1</td>
						<td>Warning</td>
						<td>IGBT Fault</td>
						<td>2017-01-02 04:04:01</td>
						<td>2017-01-02 06:06:02</td>
					</tr>
				</tbody>
			</table>>
			<div class="float-right">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link previous" href="#" aria-label="Previous">
								<span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
							</a>
						</li>
						<li class="page-item"><a class="page-link acitve" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item"><a class="page-link" href="#">7</a></li>
						<li class="page-item"><a class="page-link" href="#">8</a></li>
						<li class="page-item"><a class="page-link" href="#">9</a></li>
						<li class="page-item"><a class="page-link" href="#">10</a></li>
						<li class="page-item">
							<a class="page-link next" href="#" aria-label="Next">
								<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>